<ion-card>
  <ion-card-header>
    <ion-card-title>Listado General</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-row>
      <ion-col>
        <ion-button color="secondary" (click)="nueva_obra()"><ion-icon name="add-circle"></ion-icon>&nbsp;Agregar Obra</ion-button>
      </ion-col>
      <ion-col>
        <ion-segment [value]="obra_filter_enabled">
          <ion-segment-button value="enabled" (click)="consultar_habilitadas()">
            Habilitadas
          </ion-segment-button>
          <ion-segment-button value="all" (click)="consultar_todas()">
            Todas
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="listado_obras.length == 0">
      <ion-col>
        No se encontraron datos.
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col *ngFor="let obra of listado_obras" size="12" size-sm="6" >

        <ion-card (click)="modal_menu(obra)">
          <ion-grid style="padding:0;">
            <ion-row *ngIf="obra.imagen == '' || obra.imagen == null || obra.imagen == undefined"
                     class="text-center obra-img-cont item-valign-center" >
              <ion-col>
                  <ion-icon name="images" style="font-size:3rem;margin-top:1rem;"></ion-icon>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="!(obra.imagen == '' || obra.imagen == null || obra.imagen == undefined)"
                      class="text-center obra-img-cont item-valign-center">
              <img src="{{configService.apiUrl(obra.imagen.url)}}">
            </ion-row>
          </ion-grid>

          <ion-card-header>
            <ion-card-title>
              <ion-row>
                <ion-col class="item-valign-center">{{obra.nombre_alias}}</ion-col>
              </ion-row>
            </ion-card-title> 
          </ion-card-header>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>