<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Registrar Categoría
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid class="bg1 h-100">
    <ion-row>
      <ion-col size="12" size-sm="6">
        <ion-card class="search_card">
          <ion-card-header>
            <ion-card-title>Información</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <p><b>A tener en cuenta antes de cargar una categoría.</b></p>
                  <ul>
                    <li>El objetivo de definir categorías es el de mantener ordenado el listado de productos y agilizar las búsquedas sobre los mismos.</li>
                    <li>La misma no debe existir actualmente.</li>
                    <li>Existen categorías generales, como por ej: Frutas, Verduras, Panificados y especìficas como por ej: Manzana (sub categoría de frutas), Pan (sub categoría de Panificados)</li>
                    <li>Una categoría <b>NUNCA debe especificar el nombre de una marca</b>, un ej sería: Café soluble Arlistán.</li>
                  </ul>
                  
                  <p>El sitio está en desarrollo y si la idea prende o hay interés se continuará agregando funcionalidades.</p>
                  <p>Podes acercar sugerencias, escribiendo a: <a href="https://www.facebook.com/greenborn.software">Greenborn Software</a>, o reportar errores en: <a href="https://clientes.greenborn.com.ar/#/reportar-error/2">Reportar error</a> </p><br>
                </ion-col>
              </ion-row>
            </ion-grid>
          
          </ion-card-content>
        </ion-card>
      </ion-col>


      <ion-col size="12" size-sm="6">

        <ion-card class="">
          <ion-card-header>
            <ion-card-title>Nueva Categoría</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>

              <ion-row>
                <ion-col>
                  <ion-item class="w-100">
                    <ion-label>Categoría superior</ion-label>
                    <ionic-selectable  
                      [(ngModel)]="model.root_category_id" 
                      [items]="listado_categorias"
                      itemValueField="id"
                      itemTextField="name"
                      [canSearch]="true">
                    </ionic-selectable>
                  </ion-item>
                </ion-col>

                <ion-col size="auto">
                  <ion-button (click)="borrarRootCategory()" color="danger"><ion-icon name="close-circle"></ion-icon></ion-button>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-label>Nombre:</ion-label>
                  <ion-input placeholder="Manzana" type="text" [(ngModel)]="model.name"></ion-input>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col><ion-button (click)="ingresar()">Ingresar</ion-button></ion-col>
              </ion-row>

            </ion-grid>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

