<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="business"></ion-icon>
      <ion-label>Obras</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" >
      <ion-icon name="create"></ion-icon>
      <ion-badge *ngIf="privateNotaService.cant_vencidas > 0" color="warning">{{privateNotaService.cant_vencidas}}</ion-badge>
      <ion-label>Registrar Nota</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="cog"></ion-icon>
      <ion-label>Configuraciones</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
