<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{privateNotaService.operacion_actual}} Nota
    </ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="goBack()" color="medium" fill="outline">Volver</ion-button>
        <ion-button (click)="ingresar()" color="success" fill="outline">Guardar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="bg1 h-100">

    <ion-row>
      <ion-col size="12" size-sm="10" offset-sm="1" size-md="6" offset-md="0">

        <ion-card class="nota-form-card">
          <ion-card-header> <ion-card-title>Información</ion-card-title> </ion-card-header>
          
          <ion-card-content>
            <ion-grid>
    
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label>Obra:</ion-label>
                    <ion-select placeholder="Selecionar Obra"  [(ngModel)]="privateNotaService.modelo_edit.obra_id" cancelText="Cancelar">
                      <ion-select-option *ngFor="let obra of privateObrasService.all" value="{{obra.id}}">{{obra.nombre_alias}}</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label>Tipo de Nota:</ion-label>
                    <ion-select placeholder="Selecionar Tipo de Nota" [ngStyle]="{'background-color': color_tipo_nota}"  [(ngModel)]="privateNotaService.modelo_edit.tipo_nota_id" (ionChange)="tiponota_change()" cancelText="Cancelar">
                      <ion-select-option *ngFor="let tipo_nota of privateTipoNotaService.all" value="{{tipo_nota.id}}">{{tipo_nota.nombre}}</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label>Categoría:</ion-label>
                    <ion-select placeholder="Selecionar Categoría" [ngStyle]="{'background-color': color_categoria}"  [(ngModel)]="privateNotaService.modelo_edit.categoria_id" (ionChange)="categoria_change()" cancelText="Cancelar">
                      <ion-select-option *ngFor="let categoria of privateCategoriaService.all" value="{{categoria.id}}">{{categoria.nombre}}</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label position="floating">Nota</ion-label>
                    <ion-textarea  rows="5" placeholder="Nueva nota" type="textarea" [(ngModel)]="privateNotaService.modelo_edit.nota"></ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label>Estado:</ion-label>
                    <ion-select placeholder="Selecionar Estado" [(ngModel)]="privateNotaService.modelo_edit.estado_id" cancelText="Cancelar">
                      <ion-select-option *ngFor="let estado of privateEstadoService.all" value="{{estado.id}}">{{estado.nombre}}</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-row>
                    <ion-item><ion-label>Fecha y hora de recordatorio:</ion-label></ion-item>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                        <ngb-datepicker #dp [(ngModel)]="privateNotaService.modelo_edit.vencimiento"></ngb-datepicker>
                    </ion-col>
                    <ion-col>
                        <ngb-timepicker #tp [(ngModel)]="privateNotaService.modelo_edit.vencimiento_hora"></ngb-timepicker>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
       
            </ion-grid>
          </ion-card-content>
        </ion-card>

      </ion-col>

      <ion-col size="12" size-sm="10" offset-sm="1" size-md="6"  offset-md="0">
        <ion-row>

          <!--Documentos-->
          <ion-col size="12">

            <ion-card>
              <ion-card-header> <ion-card-title>Documentos</ion-card-title> </ion-card-header>
              
              <ion-card-content>
                
                <ion-grid>
                  <ion-row>
                    <ion-col size="auto">
                      <ion-button color="secondary" size="small"><ion-icon name="add-circle"></ion-icon>&nbsp;<label for="FUDoc" class="label-btn">Agregar Documento</label></ion-button>
                      <input type="file" id="FUDoc" name="FUDoc" style="visibility:hidden;position: fixed;" accept=".pdf, .otf, .doc, .docx, .xls, .csv, .ott, .ods, .txt" (change)="privateNotaService.handleFileInput($event.target['files'])">
                    </ion-col>
                    <ion-col></ion-col>

                    <ion-col size="12" *ngFor="let documento of privateNotaService.nota_documentos; let i = index" >
                        <ion-row>
                          <ion-col>
                              {{documento.name}}
                          </ion-col>
                          <ion-col size="auto">
                            <ion-row><ion-button color="danger" (click)="deleteDoc(documento, i)" size="small"><ion-icon name="trash"></ion-icon></ion-button></ion-row>
                            <ion-row *ngIf="documento.fromnota"><ion-button color="secondary" size="small">
                              <a  href="{{configService.apiUrl(documento.url)}}" target="_blank"><ion-icon name="download"></ion-icon></a></ion-button>
                            </ion-row>
                          </ion-col>
                        </ion-row>
                    </ion-col>

                    <ion-col *ngIf="privateNotaService.nota_documentos.length == 0">
                        <div>No se encontraron documentos</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
          
              </ion-card-content>
            </ion-card>

          </ion-col>

          <!--IMÁGENES-->
          <ion-col  size="12" >

            <ion-card class="nota-form-card">
              <ion-card-header> <ion-card-title>Imágenes</ion-card-title> </ion-card-header>
              
              <ion-card-content>
                
                <ion-grid>
                  <ion-row>
                    <ion-col size="auto">
                      <label for="FUImage" class="btn btn-add-image">
                        <ion-icon name="images" style="font-size:3rem;margin-top:1rem;"></ion-icon>
                        <p>Agregar Imagen</p>
                      </label>
                      <input type="file" id="FUImage" name="FUImage" style="visibility:hidden;position: fixed;" accept=".png, .jpg, .jpeg, .webp, .bmp" (change)="privateNotaService.handleFileInput($event.target['files'])">
                    </ion-col>
                    <ion-col></ion-col>

                    <ion-col size="12" size-lg="6" class="selected-img-cont" *ngFor="let imagen of privateNotaService.nota_images; let i = index" >
                        <ion-row>
                          <ion-col>
                              <img *ngIf="imagen != undefined" src="{{imagen.file}}" alt="Selected Image" width="auto" >
                          </ion-col>
                          <ion-col size="auto">
                            <ion-row><ion-button color="danger" (click)="deleteImg(imagen)" size="small"><ion-icon name="trash"></ion-icon></ion-button></ion-row>
                            <ion-row><ion-button color="secondary" (click)="ver_imagen(imagen)" size="small"><ion-icon name="eye"></ion-icon></ion-button></ion-row>
                          </ion-col>
                        </ion-row>
                    </ion-col>

                    <ion-col *ngIf="privateNotaService.nota_images.length == 0">
                        <div>No se encontraron imágenes</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
          
              </ion-card-content>
            </ion-card>

          </ion-col>

        </ion-row>
      </ion-col>
      
    </ion-row>

  </ion-grid>
</ion-content>