<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{titulo}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="bg1 h-100">

    <ion-row>
      <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2">

        <ion-card class="estados-card">
          <ion-card-header> <ion-card-title>Notas</ion-card-title> </ion-card-header>
          
          <ion-card-content>
            <ion-row>
              <ion-col>
                <ion-button color="secondary" (click)="nueva_nota()"><ion-icon name="add-circle"></ion-icon>&nbsp;Agregar Nota</ion-button>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label>Obra:</ion-label>
                  <ion-select placeholder="Selecionar Obra"  [(ngModel)]="obra_id" cancelText="Cancelar" (ionChange)="obra_seleccionada()">
                    <ion-select-option *ngFor="let obra of privateObrasService.all" value="{{obra.id}}">{{obra.nombre_alias}}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col class="item-valign-center" size="auto">
                <ion-button color="medium" size="small" (click)="clear()"><ion-icon name="refresh"></ion-icon>&nbsp;Todas</ion-button>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-segment [value]="privateNotaService.filtro_vencidas" >
                  <ion-segment-button value="todas" (click)="consultar('todas')">
                    Todas ({{privateNotaService.total_count}})
                  </ion-segment-button>
                  <ion-segment-button value="vencidas" (click)="consultar('vencidas')">
                    <span>Vencidas ({{privateNotaService.cant_vencidas}})</span>
                  </ion-segment-button>
                </ion-segment>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-list>
                  <ion-item  *ngFor="let nota of privateNotaService.all" >
                    <ion-grid style="background-color: {{getBgColor(nota)}};">
                      <ion-row>
                        <ion-col>
                          {{nombreObra(nota)}} - {{nota.nota}}
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col size="auto"> 
                          <ion-button color="secondary" (click)="editar_nota(nota)" size="small"><ion-icon name="eye"></ion-icon></ion-button>
                          <ion-button color="danger" (click)="eliminar_nota(nota)" size="small"><ion-icon name="trash"></ion-icon></ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
      
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>