<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{privateNotaService.titulo_vista_notas}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="bg1 h-100">

    <ion-row>
      <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2">

        <ion-card class="estados-card">
          <ion-card-header> <ion-card-title>Notas</ion-card-title> </ion-card-header>
          
          <ion-card-content>
            <ion-row>
                <ion-col>
                    <ion-button color="secondary" (click)="nueva_nota()"><ion-icon name="add-circle"></ion-icon>&nbsp;Agregar Nota</ion-button>
                    <ion-button color="secondary" (click)="filtros.toggle_filtros()"><ion-icon name="filter"></ion-icon>&nbsp;{{filtros.filtros_text}}</ion-button>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="filtros.filtros_visibles">
                <ion-col>

                    <ion-row>
                        <!-- FILTRO DE NOTAS VENCIDAS -->
                        <ion-col size="12">
                            <ion-row>
                                <ion-segment [value]="filtros.filtro_vencidas" >
                                    <ion-segment-button value="todas" (click)="filtros.set_vencidas('todas')">
                                    Todas ({{privateNotaService.all.length}})
                                    </ion-segment-button>
                                    <ion-segment-button value="vencidas" (click)="filtros.set_vencidas('vencidas')">
                                    <span>Vencidas ({{privateNotaService.cant_vencidas}})</span>
                                    </ion-segment-button>
                                </ion-segment>
                            </ion-row>
                        </ion-col>
                        
                    </ion-row>

                    <ion-row>
                        <!-- FILTRO DE OBRAS -->
                        <ion-col size="12" size-lg="6">
                            <ion-row>
                                <ion-col>
                                    <ion-row class="input-group mt-1">
                                        <ion-col size="auto"><label class="input-group-text" *ngIf="filtros.obra_id !== undefined">Obra:</label></ion-col>
                                        <ion-col><select class="w-100 h-100" placeholder="Selecionar Obra"  [(ngModel)]="filtros.obra_id" cancelText="Cancelar" (change)="filtros.obra_seleccionada()">
                                            <option *ngFor="let obra of privateObrasService.all" value="{{obra.id}}">{{obra.nombre_alias}}</option>
                                        </select></ion-col>
                                    </ion-row>
                                </ion-col>
                                <ion-col class="item-valign-center" size="auto">
                                    <ion-button color="medium" (click)="filtros.clear_obra()"><ion-icon name="refresh"></ion-icon></ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-col>

                        <ion-col size="12" size-lg="6">
                            <!-- FILTRO DE TIPO DE NOTAS -->
                            <ion-row>
                                <ion-col>
                                    <ion-row class="input-group mt-1">
                                        <ion-col size="auto"><label class="input-group-text" *ngIf="tipo_nota_id !== undefined">Tipo de nota:</label></ion-col>
                                        <ion-col><select class="w-100 h-100" placeholder="Selecionar Tipo de Nota"  [(ngModel)]="filtros.tipo_nota_id" cancelText="Cancelar" (change)="filtros.tipo_nota_seleccionada()">
                                            <option *ngFor="let tiponota of privateTipoNotaService.all" value="{{tiponota.id}}">{{tiponota.nombre}}</option>
                                        </select></ion-col>
                                    </ion-row>
                                </ion-col>
                                <ion-col class="item-valign-center" size="auto">
                                    <ion-button color="medium" (click)="filtros.clear_tipo_nota()"><ion-icon name="refresh"></ion-icon></ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                        
                    </ion-row>
                
                </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-list>
                  <ion-item  *ngFor="let nota of privateNotaService.all" >
                    <ion-grid [ngStyle]="{ 'background-color': getBgColor(nota) }">

                      <ion-row> <ion-col> {{nombreObra(nota)}} - {{nota.nota}}  </ion-col> </ion-row>

                      <ion-row>
                        <ion-col size="auto"> 
                          <ion-button color="secondary" (click)="editar_nota(nota)" size="small"><ion-icon name="eye"></ion-icon></ion-button>
                          <ion-button color="danger" (click)="eliminar_nota(nota)" size="small"><ion-icon name="trash"></ion-icon></ion-button>
                        </ion-col>
                        <ion-col></ion-col>
                        <ion-col size="auto"><small>Vencimiento: {{nota.vencimiento}}</small></ion-col>
                      </ion-row>
                      
                    </ion-grid>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
      
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>