<ion-grid>
  <ion-row>
    <!--BARRA DE HERRAMIENTAS-->
    <ion-col>
      <ion-row class="toolbox-cont">
        <ion-col size="auto" class="p0"><ion-button (click)="goBack()" color="medium" fill="outline"><ion-icon name="arrow-back"></ion-icon></ion-button></ion-col>
        <ion-col size="auto" class="p0"><ion-button (click)="mover()" color="{{herramientas.mover_btn_color}}" fill="outline"><ion-icon name="move"></ion-icon></ion-button></ion-col>
        <ion-col size="auto" class="p0"><ion-button (click)="recorte()" color="{{herramientas.recorte_btn_color}}" fill="outline"><ion-icon name="crop"></ion-icon></ion-button></ion-col>
        <ion-col size="auto" class="p0"><ion-button (click)="pincel()" color="{{herramientas.pincel_btn_color}}" fill="outline"><ion-icon name="pencil-outline"></ion-icon></ion-button></ion-col>
        <ion-col size="auto" class="p0 item-valign-center"><input [(colorPicker)]="herramientas.color" style="width:7rem;" [style.background]="herramientas.color"/></ion-col>
        <ion-col size="auto" class="p0 item-valign-center">
          <input type="number" [(ngModel)]="herramientas.ancho_trazo" min="0" max="10" style="width:6rem;" (change)="cambiar_ancho_trazo()" />
        </ion-col>
        <ion-col size="auto" class="p0 item-valign-center">
          <input type="number" [(ngModel)]="herramientas.zoom" min="{{herramientas.min_zoom}}" max="{{herramientas.max_zoom}}" style="width:6rem;" step="10" (change)="cambiar_zoom()"/>
        </ion-col>
        <ion-col size="auto" class="p0"><ion-button (click)="reset()" color="medium" fill="outline"><ion-icon name="return-up-back-outline"></ion-icon></ion-button></ion-col>
        <ion-col size="auto" class="p0"><ion-button (click)="ingresar()" color="success" fill="outline"><ion-icon name="save"></ion-icon></ion-button></ion-col>
        
      </ion-row>      
      
    </ion-col>

    <!--AREA DE EDICION-->
    <ion-col size="12" class="image-cont" id="canvasCont" style="cursor: {{herramientas.cursor}};">
      <canvas  (mousedown)="mouse_down()"  (mousemove)="mouse_move($event)" (mouseup)="mouse_up()" id="areaEdicion" #areaEdicion></canvas>
    </ion-col>
  </ion-row>
</ion-grid>