.image-cont{
    overflow: scroll;
    width: 100vw !important;
    height: 90vh;
    margin-bottom: 10rem !important;
}

#areaEdicion{
    width: 100vw;
    height: 90vh;
}

.p0{
    padding: 0px;
}

.toolbox-cont{
    background: rgb(234, 234, 234);
}