<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Detalle de imagen
    </ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="goBack()" color="medium" fill="outline">Volver</ion-button>
        <ion-button (click)="ingresar()" color="success" fill="outline">Guardar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="bg1 h-100">

    <ion-row>
      <ion-col *ngIf="imagen">
        
        <ion-card class="nota-form-card">
          <ion-card-header> <ion-card-title>Imagen</ion-card-title> </ion-card-header>
          
          <ion-card-content>
            <img src="{{imagen.file}}" alt="Selected Image" width="auto" >
          </ion-card-content>
        </ion-card>
      
      </ion-col>
    </ion-row>
  
  </ion-grid>
</ion-content>