<ion-grid>
  <ion-row>
    <!--BARRA DE HERRAMIENTAS-->
    <ion-col class="item-valign-center">
      <ion-button (click)="goBack()" color="medium" fill="outline"><ion-icon name="arrow-back"></ion-icon></ion-button>
      <ion-button (click)="ingresar()" color="medium" fill="outline"><ion-icon name="crop"></ion-icon></ion-button>
      <ion-button (click)="ingresar()" color="medium" fill="outline"><ion-icon name="brush"></ion-icon></ion-button>
      <!--<ion-button (click)="ingresar()" color="medium" fill="outline"><ion-icon name="add-circle"></ion-icon></ion-button>
      <ion-button (click)="ingresar()" color="medium" fill="outline"><ion-icon name="remove-circle"></ion-icon></ion-button>-->
      <input [(colorPicker)]="herramientas.color" style="width:7rem;" [style.background]="herramientas.color"/>
      <ion-button (click)="ingresar()" color="success" fill="outline"><ion-icon name="save"></ion-icon></ion-button>
    </ion-col>

    <!--AREA DE EDICION-->
    <ion-col size="12" class="image-cont">
      <canvas id="areaEdicion" #areaEdicion></canvas>
    </ion-col>
  </ion-row>
</ion-grid>