.image-cont{
    cursor: url('./assets/pencil.png'), default;
    overflow: scroll;
    width: 100vw !important;
    height: 90vh;
    margin-bottom: 10rem !important;
}

#areaEdicion{
    width: 100vw;
    height: 90vh;
}

.p0{
    padding: 0px;
}